.header {
  display: flex;
  justify-content: space-between;
  padding: 32px 69px 0 69px;
  align-items: center;
}
.headerBtn {
  width: 112px;
  height: 40px;
  border: 1px solid rgba(34, 34, 34, 1);
  background-color: white;
  transition: all 0.4s;
}
.headerBtn:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 205, 0, 1) 50%,
    rgba(148, 238, 49, 1) 80%,
    rgba(225, 249, 198, 1) 100%
  );
  transform: scale(1.1);
  transition: all 0.4s;
  border-radius: 40px;
}
@media (max-width: 767px) {
  .logo {
    width: 250px;
  }
}
@media (max-width: 567px) {
  .logo {
    width: 200px;
  }
  .header {
    padding: 32px 20px 0 20px;
  }
}
@media (max-width: 467px) {
  .logo {
    width: 150px;
  }
}
